@using CbgTaxi24.Blazor.Dtos

@if (Trip == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div>
        <h1>Trip details</h1>
        <div class="details_list">
            <h3>Destination</h3>
            <hr />
            <div>
                <h4>Address</h4>
                <p>@(string.IsNullOrEmpty(tripMetaData.ToLocation.Name) ? "n/a" : tripMetaData.ToLocation.Name)</p>
            </div>
            <div>
                <h4>Latitude</h4>
                <p>@tripMetaData.ToLocation.Latitude</p>
            </div>
            <div>
                <h4>Longitude</h4>
                <p>@tripMetaData.ToLocation.Longitude</p>
            </div>
        </div>
        <hr />
        <div class="details_list mb-4">
            <h3>Driver</h3>
            <div>
                <h4>Name</h4>
                <p>@Trip.Rider.Name</p>
            </div>
        </div>

        <h2 class="text-success">On you way to your destination</h2>
    </div>

}

@code {
#nullable disable
    [Parameter]
    public TripDto2 Trip { get; set; }

    TripMetaData tripMetaData;

    protected override void OnParametersSet()
    {
        tripMetaData = Trip?.TripMetaData;
    }
}
