@page "/driver"
@using CbgTaxi24.Blazor.Components.Drivers
@using CbgTaxi24.Blazor.Components.Shared


<div class="card">
    <div class="card-body">
        <TabControl>
            <TabPage Text="All drivers">
                <AllDrivers></AllDrivers>
            </TabPage>
            <TabPage Text="Drivers from Location">
                <DriversFromLocation></DriversFromLocation>
            </TabPage>
        </TabControl>
    </div>
</div>
